@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #434a50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://wallpaperaccess.com/full/686998.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 4rem;
    margin-top: -3rem;
}

.daysContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    text-align: center;
}

.bigText{
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}